[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = ubuntu
Group          = ubuntu
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/home/ubuntu/coki-app/backend/errors.log
StandardError  = append:/home/ubuntu/coki-app/backend/errors.log
ExecStart      = /home/ubuntu/coki-app/backend/pocketbase serve --http=127.0.0.1:8091

[Install]
WantedBy = multi-user.target
